<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="input" name="user_telegram"> 
            <input type="submit" value='Enviar' name='value'> 
        </form>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value='Get Calendar' name='Calendar'> 
        </form>
    </div>
</body>
</html>